body{
    background-color: rgb(227, 225, 225);
    color: #242424;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h1,h2,h3,h4{
    color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }
}
.line-mf {
  width: 60px;
  height: 5px;
  background-color: #0c6ddb;
  margin: 0 auto;
}
/* -----------------------------------------------------header................ */
.header{
    transition: all .05s;
    z-index: 997;
    padding: 20px 0;
}
.header .logo{
    font-size: 28px;
    margin: 0;padding: 0;
    font-weight: 620;
}
.header .logo a{
    color: white;
}
.header .logo img{
    max-height: 40px;
}
/* Nav menu */
.navbar{
    padding: 0;
    transition: all 1s;
}
  
.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
  
.navbar li{
    position: relative;
}
  
.navbar>ul>li{
    white-space: nowrap;
    padding: 10px 0 10px 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i{
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  width: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before{
  visibility: visible;
  width: 80%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a{
  color: #999797;
}
.navbar .dropdown ul{
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #656565;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #0a62c6;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}
/* Mobile nav is begin */
.mobile-nav-toggle{
  color: #150e0e;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media screen and (max-width:997px) {
  .mobile-nav-toggle{
    display: block;
  }
  .navbar>ul{
    display: none;
  }
}

.navbar-mobile{
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(78, 78, 78, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle{
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul{
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li{
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before{
  visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus{
  padding: 10px 20px;
  font-size: 15px;
  color: #4e4e4e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a{
  color: #0078ff;
}

.navbar-mobile,
.navbar-mobile:focus{
  margin: 15px;
}

.navbar-mobile .dropdown ul{
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li{
  min-width: 200px;
}

.navbar-mobile .dropdown ul a{
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i{
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a{
  color: #0078ff;
}

.navbar-mobile .dropdown>.dropdown-active{
  display: block;
}
/* nav mobile is done */

/* Hirad sec */
.hirad{
  background-image: url(../img/hiradd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hirad .hirad-content{
  text-align: center;
  position: absolute;
}

.hirad .overlay{
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.hirad .hirad-title{
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}

@media screen and (min-width: 768px){
  .hirad .hirad-title {
    font-size: 4.5rem;
  }
}

.hirad .hirad-subtitle{
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (min-width: 768px){
  .hirad .hirad-subtitle {
    font-size: 2.5rem;
  }
}

.hirad .text-slider-items{
  display: none;
}

.hirad-single{
  height: 350px;
}

.hirad-single .hirad-content{
  margin-top: 30px;
}

.hirad-single .hirad-title{
  text-transform: uppercase;
  font-size: 3rem;
}

@media (min-width: 768px){
  .hirad-single .hirad-title {
    font-size: 3.5rem;
  }
}
/* end of section hirad */

/* ------------------------------------- about me start ----------------------------------- */
.about .box-shadow-full{
  padding-top: 4rem;
  padding-bottom: 4rem;
  border: 2px solid black;
  box-shadow: 5px 3px blue;
}

.about .about-img{
  margin-bottom: 2rem;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 5px 3px 3px blue;
}

.about .about-img img{
  margin-left: 10px;
}

@media (min-width: 767px){
  .about .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

.skills span{
  color: #4e4e4e;
}

.skills .progress{
  background-color: #cde1f8;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}

.skills .progress .progress-bar{
  height: 0.7rem;
  background-color: #0078ff;
}
/* Services section ----------------- */
.service-box{
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.service-box:hover .ico-circle{
  transition: all 500ms ease;
  color: #fff;
  background-color: #0c67cf;
  box-shadow: 0 0 0 10px #cde1f8;
}

.service-box .service-ico{
  margin-bottom: 1rem;
  color: black;
}

.service-box .ico-circle{
  transition: all 500ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.service-box .ico-circle i{
  line-height: 0;
  font-size: 40px;
}

.service-box .s-title{
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0;
  box-shadow: 3px 6px 5px #0078ff;
}

.service-box .s-description{
  color: #090808;
}
/* -------------------service is done---------------------- */

/* ------------------------profile------------------------- */
.title-box{
  margin-bottom: 4rem;
}
.subtitle-a{
  text-decoration: none;
  color: #000000;
}
.title-a{
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.work-box{
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.work-box:hover img{
  transform: scale(1.3);
}

.work-img{
  display: block;
  overflow: hidden;
}

.work-img img{
  transition: all 1s;
}

.work-content{
  padding: 2rem 3% 1rem 4%;
}

.work-content .w-more{
  color: #4e4e4e;
  font-size: 0.8rem;
}

.work-content .w-more .w-category{
  color: #0078ff;
}

.work-content .w-like{
  font-size: 2.5rem;
  color: #0078ff;
  float: right;
}

.work-content .w-like a{
  color: #0078ff;
}

.work-content .w-like .num-like{
  font-size: 0.7rem;
}

.w-title {
  font-size: 1.2rem;
}
/* end of  profile*/

/*--------------start blog ----------------*/
@media (min-width: 767px){
  .card-blog {
    margin-bottom: 3rem;
  }
}
.sect-pt{
  padding-top: 4rem;
}
.card-blog .card-body{
  position: relative;
}

.card-blog .card-category-box{
  position: absolute;
  text-align: center;
  top: -16px;
  left: 15px;
  right: 15px;
  line-height: 25px;
  overflow: hidden;
}

.card-blog .card-category{
  display: inline-block;
  color: #fff;
  padding: 0 15px 5px;
  overflow: hidden;
  background-color: #0078ff;
  border-radius: 4px;
}

.card-blog .card-category .category{
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}

.card-blog .card-title{
  font-size: 1.3rem;
  margin-top: 0.6rem;
}

.card-blog .card-description{
  color: #333232;
}

.card-blog .post-author{
  display: inline-block;
}

.card-blog .post-date{
  color: #4e4e4e;
  display: inline-block;
}
/* footer */
.footer-para{
  padding: 4rem 0 0 0;
}

.contact-mf{
  margin-top: 4rem;
}

@media (min-width: 767px){
  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}
.email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #040f8d;
  border-top-color: white;
}

.email-form input,
.email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.email-form input:focus,
.email-form textarea:focus {
  border-color: #0360ca;
}

.email-form input {
  padding: 10px 15px;
}

.email-form textarea {
  padding: 12px 15px;
  margin-bottom: 0;
}

.email-form button[type=submit] {
  background: #0078ff;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}